<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Poller+One|Raleway" rel="stylesheet">

<div class="page">


	<div class="header">
		<h1 id="main-title" style="height:60px; text-align:center"><img src="/images/LaMaline-Logo-Svg.svg" style="display:inline-bloc; height:80%;float:left;"><%= __('A brand new app.') %> </h1>
	</div>

  <div class="corp">


	<div >

	<div style="padding:4%">
		<div><h2><%= stand.name %></h2></div>

		<div id="stand-description">
			<p> <%= stand.description %></p>
		</div>
	</div>

		<div class="statuts">
		<p>Situation actualisée le : 25/08/2017 à 16:30</p>
			<div class="<%= stats.speedRate.color %>"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> <br>Attente </div>
			<div class="<%= stats.qualityRate.color %>"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i><br>Service  </div>
			<div class="<%= stats.environmentRate.color %>"><i class="fa fa-signal fa-2x" aria-hidden="true"></i> <br> Dev. durable </div>
		</div>

		<div class="zoneVote" style="">
			<div  style="padding:1%" >
				<h2>Donnez votre avis, <br> et récoltez des points  !</h2>

				<div style="margin: 10px;">
				<h3><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> Temps d'attente</h3>
          <form method="post" action="/vote">
            <input type="hidden" name="typeVote" value="speedRate">
            <input type="hidden" name="standId" value="<%= stand.standId%>">
            <button type="submit" name="rate" value="1" class="btnRouge" href="#"><i class="fa fa fa-battery-quarter fa-2x" aria-hidden="true"></i> <br> Mauvais </button>
            <button type="submit" name="rate" value="2" class="btnJaune" href="#"><i class="fa fa fa-battery-half fa-2x" aria-hidden="true"></i>  <br>Moyen </button>
            <button type="submit" name="rate" value="3" class="btnVert" href="#"><i class="fa fa fa-battery fa-2x" aria-hidden="true"></i> <br> Bon </button>
          </form>
				</div><br>

				<div style="margin: 10px;">
          <h3><i class="fa fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> Appréciation du service</h3>
          <form method="post" action="/vote">
            <input type="hidden" name="typeVote" value="qualityRate">
            <input type="hidden" name="standId" value="<%= stand.standId%>">
            <button type="submit" name="rate" value="1" class="btnRouge" href="#"><i class="fa fa fa-battery-quarter fa-2x" aria-hidden="true"></i> <br> Mauvais </button>
            <button type="submit" name="rate" value="2" class="btnJaune" href="#"><i class="fa fa fa-battery-half fa-2x" aria-hidden="true"></i>  <br>Moyen </button>
            <button type="submit" name="rate" value="3" class="btnVert" href="#"><i class="fa fa fa-battery fa-2x" aria-hidden="true"></i> <br> Bon </button>
          </form>
        </div><br>

				<div style="margin: 10px;">
					<h3> <i class="fa fa-signal fa-2x" aria-hidden="true"></i> Développement durable</h3>
          <form method="post" action="/vote">
            <input type="hidden" name="typeVote" value="environmentRate">
            <input type="hidden" name="standId" value="<%= stand.standId%>">
            <button type="submit" name="rate" value="1" class="btnRouge" href="#"><i class="fa fa fa-battery-quarter fa-2x" aria-hidden="true"></i> <br> Mauvais </button>
            <button type="submit" name="rate" value="2" class="btnJaune" href="#"><i class="fa fa fa-battery-half fa-2x" aria-hidden="true"></i>  <br>Moyen </button>
            <button type="submit" name="rate" value="3" class="btnVert" href="#"><i class="fa fa fa-battery fa-2x" aria-hidden="true"></i> <br> Bon </button>
          </form>
				</div><br>


			</div>
		</div>

	</div>



  </div>

  <div class="pied" style="background-color: #fc0;
bottom: 0;
height: 40px;
position: fixed;
text-align: center;
font-size: 0.8em;
width: 100%;"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
 Votre score xx votes - Niveau : débutant </div>
</div>
